<body style="background-image: url(https://media.gettyimages.com/photos/hacker-internet-computer-crime-cyber-attack-network-security-code-picture-id1125274914?k=6&m=1125274914&s=612x612&w=0&h=HVkbNTG0zCaOG89eIM-vuAHGHDJmWFCv37YlRNqH27M=);">
    

{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div style="flex-direction: row; flex-wrap: wrap; flex: auto; text-align: center;">
<h2 style="color: aqua;">Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit"> Log In</button>
</form>
</div>
{% endblock %}
</body>